body{
    background-color: lightgrey;
}

.container{
    margin: 2rem 4rem;
}

.header{
    background-color: gray;
    padding: 0.5rem;
}

.footer{
    background-color: gray;
    padding: 0.5rem;
    text-align: center;
    clear: both;
}

.wrapper{
    margin: 0.5rem 0 0.75rem 0;
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 80vh;
}

.content{
    display: grid;
    grid-template-rows: 15fr 85fr;
    row-gap: 1rem;
    height: 100%;
}

.banner{
    background-color: gray;
    text-align: center;
    padding-top: calc(0.15*(80vh - 1rem)*0.5 - 1rem - 0.5rem); /* height = 15% * (80vh - 1rem)    (1rem là row gap)
                                                                  *0.5 để lấy 1 nửa chiều cao
                                                                  -1rem padding top mặc định
                                                                  -0.5rem chiều cao chữ
                                                                */
}

.body-area{
    background-color: gray;
    text-align: center;
    padding-top: calc(0.85*(80vh - 1rem)*0.5 - 1rem - 0.5rem);
}