*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.container{
    margin: 2rem 4rem;
}

.header{
    background-color: gray;
    padding: 0.5rem;
}

.footer{
    background-color: gray;
    padding: 0.5rem;
    text-align: center;
    clear: both;
}

.wrapper{
    margin: 0.5rem 0 0.75rem 0;
    height: 80vh;
}

.sidebar{  
    float: left;
    width: 30%;
    height: 80vh;
}

.content{
    float: left;
    width: 70%;
    height: 80vh;
}

.banner {
    background-color: gray;
    height: calc(0.2 * 80vh - 0.5rem);
    text-align: center;
}
  
.body-area {
    background-color: gray;
    height: calc(0.8 * 80vh - 0.5rem);
    margin-top: 1rem;
    text-align: center;
}

.banner > p{
    margin-top: 0;
    padding: calc((0.2 * 80vh - 0.5rem)*0.5 - 0.5rem);
}

.body-area > p{
    margin-top: 0;
    padding-top: calc((0.8 * 80vh - 0.5rem)*0.5 - 0.5rem);
}
